<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Mapper.NavigationMapper">
<select id="getNavigationById" parameterType="int" resultType="com.example.po.Navigation">
select * from `navigation` where id = #{id}
	</select>

<select id="getNavigationByName" parameterType="java.lang.String" resultType="com.example.po.Navigation">
	   select * from `navigation` where name like '%${value}%'
	</select>
<!-- 添加用户 -->
	<insert id="insertNavigation" parameterType="com.example.po.Navigation">
	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
		select LAST_INSERT_ID() 
	</selectKey>
	  insert into `navigation`(id,name,address,sort)
	  values(#{id}, #{name}, #{address}, #{sort})
	</insert>

<delete id="deleteNavigation" parameterType="int" >
		delete from `navigation` where id = #{id}
	</delete>
	
	<update id="updateNavigation" parameterType="com.example.po.Navigation">
		update `navigation` set name=#{name},address=#{address},sort=#{sort}
		where id= #{id}
	</update>

</mapper>
